# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env
frontend/.env
ml_service/.env

# Build artifacts
frontend/build/
*.log

# Python
__pycache__/
*.pyc
.venv/
venv/

touch frontend/.gitignore